body {
    background-color: antiquewhite;
    color: dimgray;
    font-family: sans-serif;
    text-align: center;
}

table#results {
    width: 95%;
}

table#results td,
table#results th {
    border-bottom: 1px dotted black;
}